@import "tailwindcss";

@theme {
  --color-teal-text: #00c3a0; 
  --color-teal-bg: #191F1E;
  --color-blue-bg: #171E31;
  --color-blue-text: #2abdff;
  --color-red-bg: #322132;
  --color-red-text: #ff37c7;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
